{% extends 'base.html.twig' %}

{% block title %}Note{% endblock %}

{% block body %}
    <h1>Note</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ note.title }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ note.text }}</td>
            </tr>
            <tr>
                 {# <th>Document</th>
                <td><a href="{{asset (vich_uploader_asset(note, 'documentFile')) }}">View Document </a></td> #}
                <th>Documents</th>
                {% if note.document %}
                    <td>
                        <a href="{{asset (vich_uploader_asset(note, 'documentFile')) }}">View Document </a>
                    </td>
                {% else %}
                    <td> Aucun Document attaché à cette note.</td>
                {% endif %}
            </tr>
        </tbody>
    </table>


    <a href="{{ path('note_index') }}" class="btn btn-secondary">back to list</a>

    <a href="{{ path('note_edit', {'id': note.id}) }}" class="btn btn-primary">edit</a>

    {{ include('note/_delete_form.html.twig') }}
{% endblock %}
